/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=Mukta:300,500|Niramit:200,400,600&display=swap');


a.navbar-brand.logo {
  font-family: "Niramit";
  font-size: 32px;
  letter-spacing: 1px;
  color: #3d3d3d;
}


a.navbar-brand {
  font-family: "Niramit";
  font-size: 32px;
  letter-spacing: 1px;
  color: #3d3d3d;
}

.scrape-new {
  font-family: "Mukta";
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 100;

}

button.navbar-toggler {
  background-color: #ccc;

}

.navbar a {
  font-family: "Mukta";
  font-size: 10px;
  letter-spacing: 2px;
  color: #3d3d3d;
}

.button {
  background-color: #295230;
  color: #fff;
}


a.btn.button.btn-lg.scrape-new {
  background-color: #3d3d3d;
  color: #fff;
}

.button a {
  color: #295230;
}

.caption p {
  font-family: "Niramit";
  font-size: 32px;
  letter-spacing: 1px;
  margin: auto;

}

li a {
  font-family: "Mukta";
  font-size: 10px;
  letter-spacing: 2px;
}

body {
  margin-bottom: 80px;
  font-family: "Mukta";
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 11px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-family: "Mukta";
  font-weight: 100;
  font-size: 11px;

}

.navbar {
  margin-bottom: 0;
}



.jumbotron {
  height: 560px;
  background-image: url(../images/IMG_2188-2.jpg);
  background-size: cover;
  background-position: bottom;
}

.caption {
  color: #fff;
  padding: 20px;

}

a.btn.button.scrape-new {
  color: #fff;
}